@model IEnumerable<VRLibrary.Models.Book>

<p>
    @using (Html.BeginForm("Index", "Books", FormMethod.Get))
    {
    <p class="searchBar searchBarsearch col-md-offset-4" style="font-size:15px;">
        @Html.DropDownList("bookSubject", "Θέμα..." )
       
        <input id="SearchString" name="SearchString" type="text" placeholder="Search...">
        <input type="submit" value="Αναζήτηση">
    </p>
    }
    </p>
