body{
  background-image: url("https://asudwa-bn1306.files.1drv.com/y3mlh2msnuaxIzChDS7JwEqQBQgJRq8tzLweyoc9guAYuldQgl2Vxnt5svUpjW8It3zuPJcs0n7w45BgSE38EFVvrBurXiBRLzh51b05smFsSkffAaRElPBJaaX9E5GX_xEwVzOSo7Bkzjw9KYsYS94wFFTUCH6GXa_CgjD7jmj9KYnlomj9T7Qkyu-DzXb-TxW?width=1920&height=1800&cropmode=none");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

.homediv{
  flaot:left;
  position: relative;
}

.searchBar[type=text]{
  position: absolute;
  width:40%;
  margin-left: 25%;
  padding: 12px 20px;
  border-radius: 5px 0px 0px 5px ;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  color: black;
  opacity: 0.8;
  z-index: 10;
  font-size: 16px;
}

.drpDownSelect{
  position: absolute;
  width: 8%;
  margin-left: 65%;
  padding: 13.5px 20px;
  border-radius: 0px 5px 5px 0px ;
  box-sizing: border-box;
  border-style: solid;
  border-left: none;
  border-width: 1px;
  border-color: black;
  background-color: white;
  color: black;
  opacity: 0.8;
  z-index: 10;
  font-size: 16px;
}

.searchBarhome[type=text] ,.drpDownSelecthome{
    margin-top:10%;
    font-size: 16px;
}
.searchBarsearch[type=text] ,.drpDownSelectsearch{
    margin-top: 1%;
}

.drpDownSelectsearch{
  font-size: 14px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width:100%;
}

.dropdown {
    float:right;
    position: relative;
    display: inline-block;
    width: 10%;
    margin:1%;
    z-index:11;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    width: 200%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.searchResults{
  position: absolute;
  width:68%;
  min-height: 75%;
  margin-left: 15%;
  margin-top: 6%;
  margin-bottom: 5%;
  /*padding: 12px 20px;*/
  border-radius: 5px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  color: black;
  opacity: 0.8;
  z-index: 10;
}

.responsiveBookImg {
    padding:1%;
    float: left;
    width: 16.66666%;
}

.searchImageDiv {
    border: 1px solid #ccc;
}

.searchImageDiv:hover {
    border: 1px solid #777;
}

.SearchImage {
    width: 100%;
    height: auto;
}

.searchImageTitle {
    padding: 10px;
    font-size: 12px;
    height: 80px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsiveFullPageDiv{
  position: absolute;
  width:40%;
  min-height: 80%;
  margin-left: 30%;
  margin-top: 3%;
   margin-bottom: 3%;
  padding: 12px 20px;
  border-radius: 5px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  color: black;
  opacity: 0.8;
  z-index: 15;
}