@{
    ViewBag.Title = "Home Page";
}
<!--
<div class="jumbotron">
    <h1>VRLIB</h1>
    <p class="lead">VRLIB is a free library hub to help you find and borrow a book!&nbsp;</p>
    <p><a href="~/books" class="btn btn-primary btn-lg">Αναζήτηση Βιβλίου &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started! Do you belong in the academic community?</h2>
        <p>Check if your eligible to borrow books from VRLIB, by placing your application for a membership!</p>
        <p><a class="btn btn-default" href="~/applications">Apply now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Already a member?  </h2>
        <p>Reserve your Book, now!</p>
        <p><a class="btn btn-default" href="~/reservations">Reserve a book &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>You need to extend a borrowed book s duration for a week?</h2>
        <p>Extend borrowing period of a book</p>
        <p><a class="btn btn-default" href="~/loans">Extend book check-in time &raquo;</a></p>
    </div>
</div>
    -->