@{
    ViewBag.Title = "Home Page";
}

<form>
    <input class="searchBar searchBarhome" type="text" name="search" placeholder="Search..">
</form>

<select class="drpDownSelect drpDownSelecthome">
    <option value="Title">Title</option>
    <option value="Author">Author</option>
    <option value="ISBN">ISBN</option>
</select>